<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!-- formulario cliente -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">

                                @if (firstName?.invalid && (firstName?.dirty || firstName?.touched)) {
                                <div class="alert alert-danger">
                                    @if (firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhiteSpace']) {
                                    <div>First Name is required</div>
                                    }
                                    @if (firstName?.errors?.['minlength']) {
                                    <div>First Name must be at least 2 characters long</div>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2"> <label>Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">

                                @if (lastName?.invalid && (lastName?.dirty || lastName?.touched)) {
                                <div class="alert alert-danger">
                                    @if (lastName?.errors?.['required'] || lastName?.errors?.['notOnlyWhiteSpace']) {
                                    <div>Last Name is required</div>
                                    }
                                    @if (lastName?.errors?.['minlength']) {
                                    <div>Last Name must be at least 2 characters long</div>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">

                                @if (email?.invalid && (email?.dirty || email?.touched)) {
                                <div class="alert alert-danger">
                                    @if (email?.errors?.['required']) {
                                    <div>Email is required</div>
                                    }
                                    @if (email?.errors?.['pattern']) {
                                    <div>Email must be a valid email address format</div>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Direccion de envio -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">

                                    @for (country of countries; track $index;) {
                                    <option [ngValue]="country">{{ country.name }}</option>
                                    }
                                </select>

                                @if (shippingAddressCountry?.invalid && (shippingAddressCountry?.dirty ||
                                shippingAddressCountry?.touched)) {
                                <div class="alert alert-danger">
                                    @if (shippingAddressCountry?.errors?.['required']) {
                                    <div>Country is required</div>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">

                                @if (shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty ||
                                shippingAddressStreet?.touched)) {
                                <div class="alert alert-danger">
                                    @if (shippingAddressStreet?.errors?.['required'] ||
                                    shippingAddressStreet?.errors?.['notOnlyWhiteSpace']) {
                                    <div>Street is required</div>
                                    }
                                    @if (shippingAddressStreet?.errors?.['minlength']) {
                                    <div>Street must be at least 2 characters long</div>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">

                                @if (shippingAddressCity?.invalid && (shippingAddressCity?.dirty ||
                                shippingAddressCity?.touched)) {
                                <div class="alert alert-danger">
                                    @if (shippingAddressCity?.errors?.['required'] ||
                                    shippingAddressCity?.errors?.['notOnlyWhiteSpace']) {
                                    <div>City is required</div>
                                    }
                                    @if (shippingAddressCity?.errors?.['minlength']) {
                                    <div>City must be at least 2 characters long</div>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">

                                    @for (state of shippingAddressStates; track $index;) {
                                    <option [ngValue]="state">{{ state.name }}</option>
                                    }
                                </select>

                                @if (shippingAddressState?.invalid && (shippingAddressState?.dirty ||
                                shippingAddressState?.touched)) {
                                <div class="alert alert-danger">
                                    @if (shippingAddressState?.errors?.['required']) {
                                    <div>State is required</div>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">

                                @if (shippingAddressZipCode?.invalid && (shippingAddressZipCode?.dirty ||
                                shippingAddressZipCode?.touched)) {
                                <div class="alert alert-danger">
                                    @if (shippingAddressZipCode?.errors?.['required'] ||
                                    shippingAddressZipCode?.errors?.['notOnlyWhiteSpace']) {
                                    <div>Zip Code is required</div>
                                    }
                                    @if (shippingAddressZipCode?.errors?.['minlength']) {
                                    <div>Zip Code must be at least 2 characters long</div>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Añadir checkbox para copiar la direccion de envio a la de facturacion -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Billing Address same as Shipping Address
                    </label>
                </div>

                <!-- Direccion de facturacion -->

                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')">
                                    @for (country of countries; track $index;) {
                                    <option [ngValue]="country">{{ country.name }}</option>
                                    }
                                </select>

                                @if (billingAddressCountry?.invalid && (billingAddressCountry?.dirty ||
                                billingAddressCountry?.touched)) {
                                <div class="alert alert-danger">
                                    @if (billingAddressCountry?.errors?.['required']) {
                                    <div>Country is required</div>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">

                                @if (billingAddressStreet?.invalid && (billingAddressStreet?.dirty ||
                                billingAddressStreet?.touched)) {
                                <div class="alert alert-danger">
                                    @if (billingAddressStreet?.errors?.['required'] ||
                                    billingAddressStreet?.errors?.['notOnlyWhiteSpace']) {
                                    <div>Street is required</div>
                                    }
                                    @if (billingAddressStreet?.errors?.['minlength']) {
                                    <div>Street must be at least 2 characters long</div>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">

                                @if (billingAddressCity?.invalid && (billingAddressCity?.dirty ||
                                billingAddressCity?.touched)) {
                                <div class="alert alert-danger">
                                    @if (billingAddressCity?.errors?.['required'] ||
                                    billingAddressCity?.errors?.['notOnlyWhiteSpace']) {
                                    <div>City is required</div>
                                    }
                                    @if (billingAddressCity?.errors?.['minlength']) {
                                    <div>City must be at least 2 characters long</div>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">

                                    @for (state of billingAddressStates; track $index;) {
                                    <option [ngValue]="state">{{ state.name }}</option>
                                    }
                                </select>

                                @if (billingAddressState?.invalid && (billingAddressState?.dirty ||
                                billingAddressState?.touched)) {
                                <div class="alert alert-danger">
                                    @if (billingAddressState?.errors?.['required']) {
                                    <div>State is required</div>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">

                                @if (billingAddressZipCode?.invalid && (billingAddressZipCode?.dirty ||
                                billingAddressZipCode?.touched)) {
                                <div class="alert alert-danger">
                                    @if (billingAddressZipCode?.errors?.['required'] ||
                                    billingAddressZipCode?.errors?.['notOnlyWhiteSpace']) {
                                    <div>Zip Code is required</div>
                                    }
                                    @if (billingAddressZipCode?.errors?.['minlength']) {
                                    <div>Zip Code must be at least 2 characters long</div>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tarjeta de credito -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div class="row">
                        <div class="col-md-2"> <label>Card Type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>

                                @if (creditCardType?.invalid && (creditCardType?.dirty || creditCardType?.touched)) {
                                <div class="alert alert-danger">
                                    @if (creditCardType?.errors?.['required']) {
                                    <div>Credit Card Type is required</div>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Name on Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">

                                @if (creditCardNameOnCard?.invalid && (creditCardNameOnCard?.dirty ||
                                creditCardNameOnCard?.touched)) {
                                <div class="alert alert-danger">
                                    @if (creditCardNameOnCard?.errors?.['required'] ||
                                    creditCardNameOnCard?.errors?.['notOnlyWhiteSpace']) {
                                    <div>Name on Card is required</div>
                                    }
                                    @if (creditCardNameOnCard?.errors?.['minlength']) {
                                    <div>Name on Card must be at least 2 characters long</div>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Card Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">

                                @if (creditCardNumber?.invalid && (creditCardNumber?.dirty ||
                                creditCardNumber?.touched)) {
                                <div class="alert alert-danger">
                                    @if (creditCardNumber?.errors?.['required']) {
                                    <div>Credit Card Number is required</div>
                                    }
                                    @if (creditCardNumber?.errors?.['pattern']) {
                                    <div>Credit Card Number must be 16 digits long</div>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Security Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">

                                  @if (creditCardSecurityCode?.invalid && (creditCardSecurityCode?.dirty ||
                                creditCardSecurityCode?.touched)) {
                                <div class="alert alert-danger">
                                    @if (creditCardSecurityCode?.errors?.['required']) {
                                    <div>Security Code is required</div>
                                    }
                                    @if (creditCardSecurityCode?.errors?.['pattern']) {
                                    <div>Security Code must be 3 digits long</div>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Expiration Month</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">

                                    @for (month of creditCardMonths; track $index) {
                                    <option>{{ month }}</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Expiration Year</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    @for (year of creditCardYears; track $index) {
                                    <option>{{ year }}</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Detalles del pedido -->
                <div class="form-area">
                    <h3>Review your Order</h3>

                    <p>Total Quantity: {{ totalQuantity }}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{ totalPrice | currency:'EUR' }}</p>

                </div>

                <!-- Botón submit -->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>

            </form>

        </div>

    </div>