services:
  db:
    image: mysql:8
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_CHARSET: ${MYSQL_CHARSET}
      MYSQL_COLLATION: ${MYSQL_COLLATION}
    volumes:
      - db-data:/var/lib/mysql
      - ./docker/mysql:/docker-entrypoint-initdb.d
    restart: unless-stopped
    
  backend:
    build: ./02-backend/spring-boot-ecommerce
    ports:
      - "8080:8080"
      - "8443:8443"
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
    depends_on:
      - db
    restart: unless-stopped

  frontend:
    build: ./03-frontend/angular-ecommerce
    ports:
      - "443:443"
    depends_on:
      - backend
    restart: unless-stopped
    volumes:
      - /mnt/c/Users/Usuario/Desktop/Udemy/Springboot-Angular-Chad/ecommerce-project/03-frontend/angular-ecommerce/ssl-localhost:/etc/nginx/ssl
      - /home/lara/ecommerce-project/docker/nginx/default.conf:/etc/nginx/conf.d/default.conf

volumes:
  db-data:
