# Ignorar node_modules (ya está por defecto en la plantilla de Angular)
node_modules/

# Ignorar archivos generados por Angular
/dist/
/out-tsc/
/.angular/

# Ignorar archivos sensibles como claves privadas
src/environments/environment.ts
src/environments/environment.prod.ts

# Ignorar archivos de configuración y build
node_modules/
dist/
.angular/
.idea/
*.log
