# Ignorar node_modules
node_modules/

# Ignorar archivos generados por Angular
/dist/
/out-tsc/
/.angular/

# Ignorar archivos sensibles como claves privadas
/src/environments/

# Ignorar archivos de configuración y build
node_modules/
dist/
.angular/
.idea/
*.log
